# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# LOG files
*.log

.metadata
RemoteSystemsTempFiles/

.cproject
.project

.settings
.settings/*

log/
files/*.tmp
*.tmp
files/bloques/job*
files/tmp/job*
files/tmp/Mast*
files/md5/*.tmp
files/final/*.tar.gz
files/final/*.csv
files/final/*.txt
files/export/*.tmp

metadata/directorios.dat
metadata/data.bin
metadata/nodos.bin
metadata/bitmaps/*.dat

# excluyo los binarios
yama
fs
master
datanode
worker
