# Object files
*.o
*.ko
*.obj
*.elf
*.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# LOG files
*.log

.metadata
RemoteSystemsTempFiles/

.cproject
.project

.settings
.settings/*

log/
files/*.tmp
*.tmp

entradas/*.txt
*.bin
entradas446/*
vectorBin.txt

# excluyo los binarios
planificador
coordinador
esi
instancia
tests
